//globals variables
//colors theme --------------------------------------------------------------
$primary: #005596;
$secondary: #a7a8a9;
$light: #f8f9fa;
$dark: #343a40;

$success: #5bc2a7;
$info: #4597d3;
$warning: #ffbb41;
$danger: #dc3545;

$ghost: rgba(141, 141, 141, 0.12);

$primary-hover: #c7e7ff;

//color-text / contained
$white: white;
//hover opacity
//opacidad contaned
$opacity-hover: 0.8;
//opacidad para disabled
$opacity-disabled:0.25;
//colors theme --------------------------------------------------------------

//breaks points ------------------------------------------------------------
$xs: 0px; //minor than or queal to
$sm: 576px; //bigger or equal to
$md: 768px; //bigger or equal to
$lg: 992px; //bigger or equal to
$xl: 1200px; //bigger or equal to
$xxl: 1400px; //bigger or equal to

$min-w: 300px; //minimal with that a windows can have

//breaks points ------------------------------------------------------------

// pagination table------------------------------------------
$pagination: #d7d7d7;

//z-index-------------------------------------------------------------------
$navbarheader-z: 9995;
$modal: 9996;
$datepicker: 9997;
$loader: 9998;
$alert: 9999;